# Postgres Database URL
POSTGRES_URL=

# Node Environment
NODE_ENV=development

# Clerk 
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="your clerk publishable key"
CLERK_SECRET_KEY="your clerk secret key"
CLERK_WEBHOOK_SECRET="your webhook secret"
